// Default capsule button styled button.
.default-btn {
  height: 48px;
  width: 175px;
  border-radius: 10px;
  background-color:#C5BB66;
  border: 0px;
  
.btn-text {
    height: 43px;
    width: 147px;
    left: 14px;
    top: 13px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
}

