.login-page,
.register-page {
  display: flex; 
  flex-direction: column;
  font-family: 'inter';
}

.login-section,
.login-form,
.register-section,
.register-form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-image {
  height: 250px; 
  width: 250px;
  margin-bottom: 40px;
}

.logg-in-button {
  font-size: 170%;
}

.register-link {
  text-decoration: none;
}