@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.get-ticket-page {
  display: flex;
  flex-direction: column;
}
.get-ticket-section {
  display: flex; 
  align-items: center;
  flex-direction: column;
  
}

.page-text {
  font-family: 'inter';
}

.ticket {
  margin-top: 50px;
  background-color: #c5bb66 ;
  border-color: black;
  border-radius: 10px;
}



