@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.get-ticket-page {
  display: flex;
  flex-direction: column;
}
.get-ticket-section {
  display: flex; 
  align-items: center;
  flex-direction: column;
  
}

.page-text {
  font-family: 'inter';
}

.ticket {
  background-color: greenyellow;
}



