@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.goback {
  color: black;

}

.Heading {

  margin-bottom: 3%;
}


.Heading {
  padding-top: 4%;


}

.getTicket-link {
  font-size: 25px;
  text-decoration: none;
  color: black;
  float: left;
}
.getticketbtn{
  font-size: 19px;
  margin-left: 23%;
  text-align: center;
  color:black;
  padding: 10px 40px 10px 40px;
  align-items: center;
  margin-left: 24.5%;
  margin-right: auto;

}
h3{
  text-align: center;
  
}



